FHIR_BASE_URL=http://localhost:8080/fhir/
# FHIR_BEARER_TOKEN=
CDS_SERVICE_BASE_URL=http://localhost:5174/
# CDS_BEARER_TOKEN=
CDS_USER_ID=Practitioner/demo
HAPI_PLAN_DEFINITION_ID=hypertension-bp-followup
